<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro - Cuidadoso </title>

    <!-- Main css -->
    <link rel="stylesheet" href="css/style2.css">
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    
    <!-- CRIANDO SCRIPT APENAS PARA APARECER ALERT COMO CADASTRO EFETUADO. -->
    <script>
        function alertinha(){
            alert("CADASTRO EFETUADO COM SUCESSO !"); 
            }
    </script>
    <!-- FIM -->
    
    <!-- Adicionando Javascript -->
    <script type="text/javascript" >
        
        $(document).ready(function() {
            
            function limpa_formulário_cep() {
                // Limpa valores do formulário de cep.
                $("#rua").val("");
                $("#bairro").val("");
                $("#cidade").val("");
                $("#uf").val("");
                $("#ibge").val("");
            }
            
            //Quando o campo cep perde o foco.
            $("#cep").blur(function() {

                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {

                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if(validacep.test(cep)) {

                        //Preenche os campos com "..." enquanto consulta webservice.
                        $("#rua").val("...");
                        $("#bairro").val("...");
                        $("#cidade").val("...");
                        $("#uf").val("...");
                        $("#ibge").val("...");

                        //Consulta o webservice viacep.com.br/
                        $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                            if (!("erro" in dados)) {
                                //Atualiza os campos com os valores da consulta.
                                $("#rua").val(dados.logradouro);
                                $("#bairro").val(dados.bairro);
                                $("#cidade").val(dados.localidade);
                                $("#uf").val(dados.uf);
                                $("#ibge").val(dados.ibge);
                            } //end if.
                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                                $("#cep").val(" ");
                            }
                        });
                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            });
        });
        //Função mostrar area de dados do dependente
        $(function(){
            $(function() {
                $(".btn-toggle").click(function(e) {
                    e.preventDefault();
                    el = $(this).data('element');
                    $(el).toggle();
                });
            });
        });
    </script>   
    
</head>
       
<body>   
    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-img" id="areaimagem">
                    <img src="Imagens/263528-cuidador-idosos-particular-veja-como-ter-sucesso-na-carreira.jpg" alt="">
                </div>
                <div class="signup-form">
                    <form method="POST" class="register-form" id="register-form">
                        <h2>Faça seu Cadastro</h2>
                        <div class="form-row">
                            <div class="form-group" id="areanome">
                                <!-- div nome completo-->
                                <label for="name">Nome Completo:</label>
                                <input type="text" name="txtNome" id="nome" required>
                            </div>
                            <div class="form-group" id="areanome">
                                <!-- div CPF-->
                                <label for="cpf">CPF:</label>
                                <input type="text" name="txtCpf" id="cpf" minlength="11" maxlength="11" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group" id="areatelefone">
                                <!-- div Telefone-->
                                <label for="address">Telefone:</label>
                                <input type="text" name="txtTelefone" id="telefone" placeholder="(xx)xxxx-xxxx" maxlength="10"/>
                            </div>
                             <div class="form-group" id="areacelular">
                                 <!-- div Celular-->
                                <label for="address">Celular:</label>
                                <input type="text" name="txtCelular" id="celular" placeholder="(xx)xxxxx-xxxx" required maxlength="11"/>
                            </div>
                            <div class="form-group" id="areasexo">
                                <div class="form-radio">
                                    <!-- div Sexo-->
                                    <label for="gender" class="radio-label">Sexo:</label>
                                        <div class="form-radio-item">
                                            <input type="radio" name="sexo" id="masculino" >
                                            <label for="masculino">Masculino</label>
                                            <span class="check"></span>
                                        </div>
                                        <div class="form-radio-item">
                                             <input type="radio" name="sexo" id="feminino">
                                            <label for="feminino">Feminino</label>
                                            <span class="check"></span>
                                        </div>
                                </div>
                            </div>
                        </div>        
                        <div class="form-row"> 
                            <div class="form-group" id="areacep">
                                 <!-- div cep-->
                                <label for="name">CEP:</label>
                                <input type="text" name="txtCep" id="cep" placeholder="01506-000" minlength="8" maxlength="8" required/>
                            </div>
                             <div class="form-group" id="arearua">
                                 <!-- div Rua / Endereço -->
                                <label for="name" class="arearua">Endereço:</label>
                                <input type="text" name="txtRua" id="rua" required/>
                            </div>
                             <div class="form-group" id="areanumero">
                                 <!-- div numero -->
                                <label for="name">Número:</label>
                                <input type="text" name="txtNumero" id="numero" required/>
                            </div>
                            
                        </div>
                        <div class="form-row">
                            <div class="form-group" id="areacomplemento">
                                 <!-- div complemento -->
                                <label for="name">Complemento:</label>
                                <input type="text" name="txtComplemnto" id="complemento"/>
                            </div>
                            <div class="form-group" id="areabairro">
                                 <!-- div bairro -->
                                <label for="name">Bairro:</label>
                                <input type="text" name="txtBairro" id="bairro" required/>
                            </div>
                            <!-- div cidade -->
                                <div class="form-group" id="areacidade">
                                <label for="name">Cidade:</label>
                                <input type="text" name="txtCidade" id="cidade" required/>
                            </div>
                           <!-- div estado -->
                                <div class="form-group" id="areauf">
                                <label for="name">Estado:</label>
                                <input type="text" name="txtUf" id="uf" required/>
                            </div>   
                        </div>
                        <div>
                            <!-- Botão adicionar dependente -->
                            <input type="button" value="+Adicionar dependente" id="btnDep" class="btn-toggle" data-element="#formDep"/>
                                <div id="formDep" style="display: none; padding-top: 15px">
                                     <div class="form-row">
                                         <div class="form-group" id="areaNomeDep">
                                             <!-- div nome completo-->
                                             <label for="nameDep">Nome Completo:</label>
                                             <input type="text" name="txtNomeDep" id="nomeDep" required>
                                         </div>
                                         <div class="form-group" id="areaGrau">
                                             <!-- div Parentesco-->
                                             <label for="grau">Grau de Parentesco:</label>
                                             <input type="text" name="txtGrau" id="grau" required>
                                         </div>
                                    </div>
                                    <div class="form-row">
                                         <div class="form-group" id="emailDep">
                                             <!-- div email-->
                                             <label for="emailDep">E-mail:</label>
                                             <input type="text" name="txtEmailDepp" id="emailDep" required>
                                         </div>
                                         <div class="form-group" id="areatelefoneDep">
                                             <!-- div Telefone-->
                                             <label for="address">Telefone:</label>
                                             <input type="text" name="txtTelefoneDep" id="telefoneDep" placeholder="(xx)xxxx-xxxx" maxlength="10"/>
                                        </div>
                                        <div class="form-group" id="areacelularDep">
                                            <!-- div Celular-->
                                            <label for="address">Celular:</label>
                                            <input type="text" name="txtCelularDep" id="celularDep" placeholder="(xx)xxxxx-xxxx" required maxlength="11"/>
                                        </div>
                                    </div>
                                </div>
                            <!-- Cadastrar -->
                            <div class="form-submit">
                            <input type="button" value="Cadastrar" class="submit" name="cadastrar" onclick="alertinha()" id="submit" style=""/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- JS -->
  
    <script src="vendor/jquery/jquery.min.js"></script> 

    <script src="js/main.js"></script>
</body>
</html>