<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Cuidadoso</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="Imagens/logo-vertical.png" rel="icon">
  <link href="Imagens/logo-vertical.png" rel="apple-touch-icon">
    
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto"></a></h1>
          
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="#intro"><img src="Imagens/logo-vertical.png" alt="" title="" style="width: 90px"></a>
      </div>

      <nav id="nav-menu-container links">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Inicio</a></li>
          <li><a href="#about">Contratar</a></li>
          <li><a href="#features">Prestadores</a></li>
          <li><a href="#pricing">Planos</a></li>
          <li><a href="#team">Sobre Nós</a></li>
          <li><a href="#contact">APP</a></li>
          <div><img id="usuarioIcon" src="img/iconUser.jpg" alt="">
            <spam id="usuario">Não Logado</spam>
            </div>
        </ul>
          
      </nav>
   
        <!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
<section class="sections">
  <!--==========================
    Pagamento
  ============================-->
  <main id="main">
        <div style="padding: 200px; color: #1dc9ce; text-align: center" >
            <h5>Escolha a forma de pagamento:</h5>
            <div class="form-radio-item">
                 <a href="https://www.paypal.com/br/home"><input type="button" value="PayPal" style="border-radius: 100px; padding: 8px 30px; background-color: #1dc9ce ;color: #fff;"></a><br><br>
                 <a href="cartao.html"><input type="button" value="Cartão de Crédito" style="border-radius: 100px; padding: 8px 30px; background-color: #1dc9ce ;color: #fff;"></a>
            </div>
            
            
       </div>
  </main>
</section>
  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/magnific-popup/magnific-popup.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
