<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Cuidadoso</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="Imagens/logo-vertical.png" rel="icon">
  <link href="Imagens/logo-vertical.png" rel="apple-touch-icon">
    
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link rel='stylesheet' id='compiled.css-css'  href='https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-4.8.8.min.css?ver=4.8.8' type='text/css' media='all' />

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/stylePerfil.css" rel="stylesheet">  

</head>

<body>

  <!--==========================
    Header
  ============================-->
    
  <header id="header">
      
 
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto"></a></h1>

        <!-- Uncomment below if you prefer to use an image logo -->
       
      </div>

      <nav id="nav-menu-container links">
        <ul class="nav-menu">
          <li class="menu-active"> <a href="#intro"><img src="Imagens/logo-vertical.png" alt="" title="" style="width: 90px"></a></li>
          <li class="menu-active"><a href="#intro"><strong>Inicio</strong></a></li>
          <li><a href="#contratar"><strong>Contratar</strong></a></li>
          <li><a href="#features"><strong>Prestadores</strong></a></li>
          <li><a href="#pricing"><strong>Planos</strong></a></li>
          <li><a href="#team"><strong>Sobre Nós</strong></a></li>
          <li><a href="#guia"><strong>Guia</strong></a></li>
          <li><a href="#contact"><strong>Contato</strong></a></li>

          <div><img id="usuarioIcon" src="img/iconUser.jpg" alt="">
          <spam id="usuario"><a href="" class="btn-get-started scrollto" data-toggle="modal" data-target="#modalLRForm"><strong>Não logado</strong></a></spam>
            </div>
        </ul>
          
      </nav>
   
        <!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
    
    
<section class="sections">
  <!--==========================
    Inicio
  ============================-->
  <section id="intro">
      
<!--=======Nav slide=======-->
      


<!--=======================-->
      
<!--======Barra de pesquisa=======-->     
    <form>
      <div id="pesquisa">
          <input type="text" placeholder="CEP" class="dados"> <input type="text" placeholder="Data" class="dados"> <input type="text" placeholder="Hora" class="dados">
          <input type="button" value="Encontrar um cuidador" id="btnPesquisa">
      </div> 
    </form>
      <div id="cartoes">
        <div class="card" style="width: 18rem;" id="cartao">
          
            
          </div> 
        </div>
  </section>
</section>
    
    
  <!-- JavaScript Libraries -->
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/magnific-popup/magnific-popup.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
